<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 mx-auto">
      <form [formGroup]="signinForm" (submit)="login()">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-group required">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email" >
        <span class="text-danger" *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched">Please Enter Your valid Email Address</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
          <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched" class="text-danger">Please Enter Your Password</span>
        </div>
        <div class="form-group">
          <select class="form-control" id="sel1" (change)="selectCollege($event)" formControlName="college_name">
            <option *ngFor="let college of colleges" >{{college.college_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="sel1" (change)="selectRole($event)" formControlName="role_name">
            <option *ngFor="let role of roles" >{{role.role_name}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!this.signinForm.valid">Sign in</button>
      </form>
    </div>
  </div>
</div>